body {
    height: 100%;
}

h1{
    margin: 0px;
    padding: 0px;
    color: #303030;
}
h4 {
    margin: 0px;
    margin-bottom: 10px;
}

input[type="text"]:focus{
    outline: none;
}

.normal-main{
    margin-top: 200px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-search{
    margin-top: 15px;
    width: 450px;
    height: 40px;
    border: 1.3px solid rgb(229, 229, 232);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-search:hover {
    box-shadow: 1.5px 0px 4px  #DFE1E5, -1.5px 0px 4px  #DFE1E5,
        0px 3px 4px #DFE1E5;
    border: 1px solid #FFFFFF;
}

.search-box{
    padding: 5px;
    width: 400px;
    height: 20px;
    border: none;
    font-size: 16px;
}

.main-btns{
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;


}

.main-btn{
    width: 125px;
    height: 35px;
    margin: 20px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    color: #858585;
}

.normal-header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    top: 0px;
    right: 5px;
}
.advanced-header {
    justify-content: space-between;
    background-color: #F1F1F1;
}

.header-btn {
    margin-right: 20px;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
}

.header-logo {
    margin-left: 20px;
    height: 40px;
}


.advanced-main > h1 {
    margin-top: 100px;
    padding-left: 30px;
    height: 60px;
    border-bottom: 1.4px solid #F1F1F1;
}

.advanced-main{
    width: 100%;
}

.advanced-container {
    margin-top: 50px;
    margin-left: 30px;
    width:500px;
}

.advanced-header-btn {
    background-color: #e5e5e5;
}

.header-logo {
    margin-left: 20px;
    margin-top: 7px;
    font-size: 30px;
}

.advanced-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.advanced-box input {
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 1.3px solid #C0C0C0;
}

.advanced-search-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.advanced-search-btn > button {
    background-color: #4A8DFB;
    color: white;
    width: 130px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
}
.advanced-container label {
    font-size: 15px;
}



